<p>
  pokemon-list works!

  <a [routerLink]="['/pokemon-info/', idPrueba]" class="btn btn-danger">Go to pokemon info</a>

</p>

<!–– Prueba para ver si funcionan los estilos de boostrap -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">PRUEBA</h1>
      <p class="lead">Pon un NESTOR en tu vida.</p>
    </div>
  </div>

  <div class="card-columns">
    <div class="card" *ngFor="let datosPoke of arrayNuevo">
      <div class="card-body">
        <h5 class="card-title"> <strong>{{datosPoke.id}}</strong> {{datosPoke.name}}</h5>
        <img src="{{datosPoke.image}}"class="img-fluid rounded-start" [alt]="datosPoke.name">
        <a class="btn btn-primary" (click)="navigate(pokemon.id, pokemon.name, pokemon.stats, pokemon.weight)"
          routerLink="/pokemon-info" routerLinkActive="active">+ info</a>
      </div>
    </div>
  </div>